@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root{
    --text-color: #0b1f08;  /* to call it somewhere var(--text-color)*/
    --text-background: #166d3b;
    --white-color: #fff; /*for padding, margin, font, etc.*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--text-background);
    background-image: linear-gradient(147deg, #134428 0%, rgb(51, 133, 78) 74%);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: var(--text-color);

}

main {
    height: 50rem;
    width: 50rem;
    border-radius: 3rem;
    background-color: var(--white-color);
    background-image: linear-gradient(315deg, #557c66 0%, rgb(109, 138, 31) 80%);
    /* box-shadow properties <x-axis dist> <y-axis dist> <blur-radius> <blur-spread> color */
    /* box-shadow: 3px 3px 2px #fff; */
    box-shadow:  20px 20px 60px rgb(15, 51, 23, .3),
                -20px -20px 60px rgb(15, 51, 23, .15);
    padding: 3rem;
}

header{
    height: 14rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

header h1{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    line-height: 1.3;
}

header p {
    font-size:1.3rem;
}

