@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root{
    --text-color: #0b1f08;  /* to call it somewhere var(--text-color)*/
    --text-background: #7dce4f;
    --white-color: #fff; /*for padding, margin, font, etc.*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--text-background);
    background-image: linear-gradient(147deg, #134428 0%, rgb(51, 133, 78) 74%);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: var(--text-color);

}

main {
    height: 50rem;
    width: 50rem;
    border-radius: 3rem;
    background-color: var(--white-color);
    background-image: linear-gradient(315deg, #557c66 0%, rgb(109, 138, 31) 80%);
    /* box-shadow properties <x-axis dist> <y-axis dist> <blur-radius> <blur-spread> color */
    /* box-shadow: 3px 3px 2px #fff; */
    box-shadow:  20px 20px 60px rgb(15, 51, 23, .3),
                -20px -20px 60px rgb(15, 51, 23, .15);
    padding: 2.5rem;
}

header{
    height: 11rem;
    display: flex;
    justify-content: space-between;
    margin: 0.8rem;
}

header h1{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height: 1.3;
}

header h1:hover{
    color: #39FF14;
}

header p {
    font-size:1.5rem;
}

.hands{
    height: 15rem;
    display: flex;
    justify-content: space-between;
    margin: 0.3rem;
}

.hands button{
    width: 11.5rem;
    height: 11.5rem;
    border-radius: 50%;
    font-size: 7rem;
    background-color: var(--text-background);
    color:#557c66 40%, rgb(109, 138, 31, 0.6);
    border: 0;
    cursor: pointer;
    /* transition of button when touched or clicked */
    transition: all 0.2s ease;
}

.hands button:hover{
    transform: translateY(8px) translateX(4px);
    color: rgb(210, 247, 4);
}

.hands button:hover:active{
    -webkit-transform: translateZ(1);
    transform: scale3d(1.1, 1.1, 1.1);
    color: aqua;
}

.result{
    text-align: center;
    font-size: 1.6rem;
}

.result p{
    margin: 0.4rem;
    margin-top: 0.4rem;
}

.result button{
    margin: 10rem 0;
    padding: 0.8rem 2rem;
    background-color: var(--text-color);
    color: var(--white-color);
    width: 65%;
    height: 10rem;
    border-radius: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
}

.result button:hover{
    transform: translateY(8px) translateX(4px);
    color: rgb(210, 247, 4);
}

.result button:hover:active{
    -webkit-transform: translateZ(1);
    transform: scale3d(1.1, 1.1, 1.1);
    color: green;
}

.result-message{
    background-color: var(--text-color);
    color: var(--white-color);
    width: 40%;
    margin: 1.5rem auto;
    font-size: 1.6rem;
    font-weight: bold;
}

.result-message:hover{
    color: #39FF14;
    background-color: rgb(12, 20, 20);
}

.quit button{
    background-color: var(--text-color);
    height: 4.5rem;
    color: var(--white-color);
    width: 50%;
    margin: 1.5rem auto;
    font-size: 2rem;
    font-weight: bold;
}

.verdict{
    background-color: var(--text-color);
    color: var(--white-color);
    width: 60%;
    height: 10rem;
    margin: 3rem auto;
    padding: 2.2rem 1.5rem;
    border-radius: 4rem;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

.verdict:hover{
    color: #39FF14;
    background-color: rgb(12, 20, 20);
}

.hidden{
    display: none;
}

